# Compilation results
.idea/
*.[od]
*.pcm
*.so
/lib
/bin
/obj
/template
Main

# Tests
/test/*
!/test/V895/
!/test/V1190B/

# Data
*.dat

# Documentation
# /doc

# ROOT directories
ROOT/
!/test/V1190B/data_acq/continuous/ROOT/

# rsync script
/backup.sh

# recovery files
*.swo
*.swp

#### GUI ####
#
# Qt product
moc_*
*.pro

/gui/cvarda/cvarda
