# Compilation results
.idea/
*.[od]
*.pcm
*.so
/lib
/bin
/obj
/template
Main

# Tests
/test/*
!/test/rules.mk
!/test/V895/
!/test/V1190B/
!/test/V6533N/
!/test/V2718/
!/test/V1785N/

# Data
*.dat

# Documentation
/doc/*
!/doc/doxy_config

# ROOT directories
ROOT/
!/test/V1190B/data_acq/continuous/ROOT/

# Correction tables
*.x742_corr

# rsync script
/backup.sh

# recovery files
*.swo
*.swp

# Correction tables
*.x742_corr
