# Compilation results
.idea/
*.[od]
*.pcm
*.so
/lib
/bin
/obj
/template
Main

# Tests
/test/*
!/test/V895/
!/test/V1190B/
!/test/V6533N/
!/test/V2718/

# Data
*.dat

# Documentation
/doc/*
!/doc/html
/doc/html/*
!/doc/html/index.html
!/doc/doxy_config

# ROOT directories
ROOT/
!/test/V1190B/data_acq/continuous/ROOT/

# rsync script
/backup.sh

# recovery files
*.swo
*.swp
