<?xml version="1.0" encoding="utf-8"?>
<cereal>
	<V1742B>
		<trigger>
			<post_trigger>0</post_trigger>
			<channels>
				<value0>
					<threshold>0</threshold>
					<offset>0</offset>
					<enable_trigger>false</enable_trigger>
				</value0>
				<value1>
					<threshold>0</threshold>
					<offset>0</offset>
					<enable_trigger>false</enable_trigger>
				</value1>
				<value2>
					<threshold>0</threshold>
					<offset>0</offset>
					<enable_trigger>false</enable_trigger>
				</value2>
				<value3>
					<threshold>0</threshold>
					<offset>0</offset>
					<enable_trigger>false</enable_trigger>
				</value3>
				<value4>
					<threshold>0</threshold>
					<offset>0</offset>
					<enable_trigger>false</enable_trigger>
				</value4>
				<value5>
					<threshold>0</threshold>
					<offset>0</offset>
					<enable_trigger>false</enable_trigger>
				</value5>
				<value6>
					<threshold>0</threshold>
					<offset>0</offset>
					<enable_trigger>false</enable_trigger>
				</value6>
				<value7>
					<threshold>0</threshold>
					<offset>0</offset>
					<enable_trigger>false</enable_trigger>
				</value7>
				<value8>
					<threshold>0</threshold>
					<offset>0</offset>
					<enable_trigger>false</enable_trigger>
				</value8>
				<value9>
					<threshold>0</threshold>
					<offset>0</offset>
					<enable_trigger>false</enable_trigger>
				</value9>
				<value10>
					<threshold>0</threshold>
					<offset>0</offset>
					<enable_trigger>false</enable_trigger>
				</value10>
				<value11>
					<threshold>0</threshold>
					<offset>0</offset>
					<enable_trigger>false</enable_trigger>
				</value11>
				<value12>
					<threshold>0</threshold>
					<offset>0</offset>
					<enable_trigger>false</enable_trigger>
				</value12>
				<value13>
					<threshold>0</threshold>
					<offset>0</offset>
					<enable_trigger>false</enable_trigger>
				</value13>
				<value14>
					<threshold>0</threshold>
					<offset>0</offset>
					<enable_trigger>false</enable_trigger>
				</value14>
				<value15>
					<threshold>0</threshold>
					<offset>0</offset>
					<enable_trigger>false</enable_trigger>
				</value15>
				<value16>
					<threshold>0</threshold>
					<offset>0</offset>
					<enable_trigger>false</enable_trigger>
				</value16>
				<value17>
					<threshold>0</threshold>
					<offset>0</offset>
					<enable_trigger>false</enable_trigger>
				</value17>
				<value18>
					<threshold>0</threshold>
					<offset>53664</offset>
					<enable_trigger>true</enable_trigger>
				</value18>
				<value19>
					<threshold>0</threshold>
					<offset>0</offset>
					<enable_trigger>true</enable_trigger>
				</value19>
				<value20>
					<threshold>98</threshold>
					<offset>0</offset>
					<enable_trigger>false</enable_trigger>
				</value20>
				<value21>
					<threshold>56751</threshold>
					<offset>44399</offset>
					<enable_trigger>true</enable_trigger>
				</value21>
				<value22>
					<threshold>0</threshold>
					<offset>22160</offset>
					<enable_trigger>true</enable_trigger>
				</value22>
				<value23>
					<threshold>0</threshold>
					<offset>0</offset>
					<enable_trigger>true</enable_trigger>
				</value23>
				<value24>
					<threshold>65</threshold>
					<offset>0</offset>
					<enable_trigger>false</enable_trigger>
				</value24>
				<value25>
					<threshold>3913</threshold>
					<offset>61545</offset>
					<enable_trigger>true</enable_trigger>
				</value25>
				<value26>
					<threshold>0</threshold>
					<offset>1</offset>
					<enable_trigger>false</enable_trigger>
				</value26>
				<value27>
					<threshold>0</threshold>
					<offset>0</offset>
					<enable_trigger>true</enable_trigger>
				</value27>
				<value28>
					<threshold>44399</threshold>
					<offset>32767</offset>
					<enable_trigger>false</enable_trigger>
				</value28>
				<value29>
					<threshold>48568</threshold>
					<offset>98</offset>
					<enable_trigger>false</enable_trigger>
				</value29>
				<value30>
					<threshold>0</threshold>
					<offset>23689</offset>
					<enable_trigger>true</enable_trigger>
				</value30>
				<value31>
					<threshold>0</threshold>
					<offset>0</offset>
					<enable_trigger>false</enable_trigger>
				</value31>
			</channels>
			<tr_0>
				<threshold>0</threshold>
				<offset>0</offset>
				<enable_trigger>false</enable_trigger>
			</tr_0>
			<tr_1>
				<threshold>65535</threshold>
				<offset>0</offset>
				<enable_trigger>true</enable_trigger>
			</tr_1>
			<global_trigger>0</global_trigger>
			<trigger_polarity>0</trigger_polarity>
		</trigger>
		<interrupts>
			<irq_events>0</irq_events>
			<irq_level>0</irq_level>
			<irq_vector>0</irq_vector>
		</interrupts>
		<acquisition>
			<group_readout>
				<value0>false</value0>
				<value1>false</value1>
				<value2>false</value2>
				<value3>false</value3>
			</group_readout>
			<TRn_readout>false</TRn_readout>
			<record_length>0</record_length>
			<sampling_rate>0</sampling_rate>
			<max_events_per_blt>0</max_events_per_blt>
			<acquisition_mode>0</acquisition_mode>
			<start_source>0</start_source>
		</acquisition>
		<front_panel>
			<lemo_level>0</lemo_level>
		</front_panel>
	</V1742B>
</cereal>

