<?xml version="1.0" encoding="utf-8"?>
<cereal>
	<V6533N>
		<channels>
			<value0>
				<voltage_set>0</voltage_set>
				<current_set>0</current_set>
				<trip_time>0</trip_time>
				<sw_max_voltage>0</sw_max_voltage>
				<ramp_up>0</ramp_up>
				<ramp_down>0</ramp_down>
				<power_down>false</power_down>
				<current_mon_range>0</current_mon_range>
			</value0>
			<value1>
				<voltage_set>0</voltage_set>
				<current_set>0</current_set>
				<trip_time>0</trip_time>
				<sw_max_voltage>0</sw_max_voltage>
				<ramp_up>0</ramp_up>
				<ramp_down>0</ramp_down>
				<power_down>false</power_down>
				<current_mon_range>0</current_mon_range>
			</value1>
			<value2>
				<voltage_set>0</voltage_set>
				<current_set>0</current_set>
				<trip_time>0</trip_time>
				<sw_max_voltage>0</sw_max_voltage>
				<ramp_up>0</ramp_up>
				<ramp_down>0</ramp_down>
				<power_down>false</power_down>
				<current_mon_range>0</current_mon_range>
			</value2>
			<value3>
				<voltage_set>0</voltage_set>
				<current_set>0</current_set>
				<trip_time>0</trip_time>
				<sw_max_voltage>0</sw_max_voltage>
				<ramp_up>0</ramp_up>
				<ramp_down>0</ramp_down>
				<power_down>false</power_down>
				<current_mon_range>0</current_mon_range>
			</value3>
			<value4>
				<voltage_set>0</voltage_set>
				<current_set>0</current_set>
				<trip_time>0</trip_time>
				<sw_max_voltage>0</sw_max_voltage>
				<ramp_up>0</ramp_up>
				<ramp_down>0</ramp_down>
				<power_down>false</power_down>
				<current_mon_range>0</current_mon_range>
			</value4>
			<value5>
				<voltage_set>0</voltage_set>
				<current_set>0</current_set>
				<trip_time>0</trip_time>
				<sw_max_voltage>0</sw_max_voltage>
				<ramp_up>0</ramp_up>
				<ramp_down>0</ramp_down>
				<power_down>false</power_down>
				<current_mon_range>0</current_mon_range>
			</value5>
		</channels>
	</V6533N>
</cereal>

